In [1]:
import pandas as pd

In [2]:
# The following lines adjust the granularity of reporting.
pd.options.display.max_rows = 10
pd.options.display.float_format = "{:.1f}".format

In [3]:
training_df = pd.read_csv(filepath_or_buffer="https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv")

In [12]:
len(training_df)

17000

In [4]:
training_df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0,17000.0
mean,-119.6,35.6,28.6,2643.7,539.4,1429.6,501.2,3.9,207300.9
std,2.0,2.1,12.6,2179.9,421.5,1147.9,384.5,1.9,115983.8
min,-124.3,32.5,1.0,2.0,1.0,3.0,1.0,0.5,14999.0
25%,-121.8,33.9,18.0,1462.0,297.0,790.0,282.0,2.6,119400.0
50%,-118.5,34.2,29.0,2127.0,434.0,1167.0,409.0,3.5,180400.0
75%,-118.0,37.7,37.0,3151.2,648.2,1721.0,605.2,4.8,265000.0
max,-114.3,42.0,52.0,37937.0,6445.0,35682.0,6082.0,15.0,500001.0

In [27]:
cols = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
outliers_dict = {}

In [28]:
for col in cols:
    # Calculate IQR
    Q1 = training_df[col].quantile(0.25)
    Q3 = training_df[col].quantile(0.75)
    IQR = Q3 - Q1

    # Define outlier limits
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR

    # Extract outliers for this column
    outliers_dict[col] = training_df[(training_df[col] < lower_limit) | (training_df[col] > upper_limit)]

In [29]:
# Combine all outliers into one DataFrame
outliers = pd.concat(outliers_dict.values()).drop_duplicates()

# Save outliers to CSV
outliers.to_csv("outliers.csv", index=False)

# Display the number of outliers
print("Total outliers detected:", len(outliers))

Total outliers detected: 2524

In [30]:
# Remove all outliers from the dataset
cleaned_df = training_df[~training_df.index.isin(outliers.index)]

# Save the cleaned dataset
cleaned_df.to_csv("cleaned_data.csv", index=False)

print("Original dataset size:", len(training_df))
print("Cleaned dataset size:", len(cleaned_df))

Original dataset size: 17000
Cleaned dataset size: 14476